@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

/* Track */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #333; /* dark background color for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the handle on hover */
}

/* Track in the corner when both vertical and horizontal scrolls are present */
::-webkit-scrollbar-corner {
  background: #333; /* dark background color for the corner */
}
